<a href="https://colab.research.google.com/github/harikishantk/APP-Lab/blob/main/RA1911026020068_EXPT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user = str
end = "0"
hours = round(40,2)
print("One Stop Shop Payroll Calculator")
while user!= end:
  user = input("Please enter your name or type'0' to quit:")
  if user == end:
    print("End of Report")
  else:
    hours = float(input("Please enter hours worked: ",))
    payrate = float(input("Please enter your payrate:$",))
    if hours < 40:
      print("Employee's name:", user)
      print("Overtime hours: 0")
      print("Overtime Pay: $0.00")
      regularpay = round(hours * payrate,2)
      print("Gross Pay: $", regularpay)
    elif hours > 40:
      overtimehours = round(hours - 40.00,2)
      print("Overtime hours: ", overtimehours)
      print("Employee's name: ", user)
      regularpay = round(hours*payrate,2)
      overtimerate = round(payrate * 1.5,2)
      overtimepay = round(overtimehours * overtimerate)
      grosspay = round(regularpay+overtimepay,2)
      print("Regular Pay: $",regularpay)
      print("Overtime Pay: $",overtimepay)
      print("Gross Pay: $",grosspay)

One Stop Shop Payroll Calculator
Please enter your name or type'0' to quit:Hari
Please enter hours worked: 50
Please enter your payrate:$10
Overtime hours:  10.0
Employee's name:  Hari
Regular Pay: $ 500.0
Overtime Pay: $ 150
Gross Pay: $ 650.0
Please enter your name or type'0' to quit:Hari
Please enter hours worked: 30
Please enter your payrate:$10
Employee's name: Hari
Overtime hours: 0
Overtime Pay: $0.00
Gross Pay: $ 300.0
Please enter your name or type'0' to quit:0
End of Report

In [ ]:
p = 1000
r = 10.25
t = 5
amt = p * (pow((1+r/100),t))
CI = amt - p
print("Compund interest is",CI)

Compund interest is 628.8946267774415

In [ ]:
num = 76542
reverse_num = 0
print("Given Number", num)
while num > 0:
  remainder = num % 10
  reverse_num = (reverse_num * 10) + remainder
  num = num // 10
print("Reversed Number", reverse_num)

Given Number 76542
Reversed Number 24567

In [ ]:
input_number = 3
for i in range(1, input_number+1):
  print("Current Number is:",i,"and the cube is",(i*i*i))

Current Number is: 1 and the cube is 1
Current Number is: 2 and the cube is 8
Current Number is: 3 and the cube is 27

In [ ]:
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
  sum += start
  start = (start * 10) + 2
print("\nSum of above series is:", sum)

Sum of above series is: 24690

In [ ]:
X = [[12,7,3],
     [4,5,6],
     [7,8,9]]
Y = [[5,8,1],
     [6,7,3],
     [4,5,9]]
result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(len(X)):
  for j in range(len(X[0])):
    result[i][j] = X[i][j] + Y[i][j]
  
for r in result:
  print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
r = 5
for i in range(0, r):
  for j in range(0, i+1):
    print("*", end='')
  print("\r")

for i in range(r-1,0,-1):
  for j in range(0,i):
    print("*", end='')
  print("\r")

*
**
***
****
*****
****
***
**
*

In [ ]:
kilometers = float(input("Enter value in kilometers:"))
conv_fac = 0.621371
miles = kilometers * conv_fac
print("%0.2f kilometers is equal to %0.2f miles" %(kilometers, miles))

Enter value in kilometers:3.5
3.50 kilometers is equal to 2.17 miles